{% extends "base.html" %}

{% block title %}Test Detail{% endblock %}

{% block content %}
<style>
    .unit {
        font-size: 0.8em;
        margin-left: 5px;
        color: #777;
    }
    /* Additional styling for the PDF export button */
    .export-pdf-btn {
        margin-right: 10px;
    }
</style>

<div class="my-4">
    <h1>Test Detail</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                {% for label, data in test_details.items() %}
                <tr>
                    <td><strong>{{ label }}:</strong></td>
                    <td>
                        {% if data.is_files %}
                            <ul>
                                {% for file in data.value %}
                                    {% if file %}
                                        <li><a href="{{ url_for('download_file', test_id=test_id, filename=file) }}" download>{{ file }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ data.value }}
                            {% if data.unit %}
                                <span class="unit">{{ data.unit }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- PDF Export and Back to List buttons -->
    <div class="mt-4">
        <a href="{{ url_for('export_test_pdf', test_id=test_id) }}" class="btn btn-primary export-pdf-btn">Export as PDF</a>
        <a href="{{ url_for('list_tests') }}" class="btn btn-secondary">Back to List of Tests</a>
    </div>
</div>
{% endblock %}
